

body{
  background-color: #5e666d;
}

.text-center{
  text-align: center;
}

.player-container{
  display: flex;
  justify-content: space-around;

}

.player-title{
  font-size: 20px;
}

.current-player-text{
  font-size: 20px;
 
}

.winner-text{
  text-align: center;
  font-size: 15px;
  border-radius: 10px;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 5px;
}

.reset-btn{
  background-color:#0a2b0a;
  color: rgb(0, 107, 128);
  font-size: 15px;
  font-weight:bold;
  border: none;
  padding: 5px;
  display: block;
  margin: 5px auto;
}

.row{
  display: flex;
  justify-content: center;
}

.board{
  display: block;
  margin: 29px auto;
 
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
}

.box{
  background-color: #000000;
  border: dotted 1px rgb(148, 217, 212);
  width: 70px;
  height: 60px;
  display: flex;
  margin: 2px;
  align-items: center;
  font-size: 30px;
  border-radius: 0px 20px 0px 20px;
}

.box:hover{
  background-color: #f2f2f2;
  cursor: pointer;
  box-shadow: 0px 0px 15px 4px #b3daff;
  border: 1px solid #b3daff;
  z-index: 100;
}